<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /control_total_v2/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /control_total_v2/index.html [L]
</IfModule>
